[global]
   workgroup = WORKGROUP
   server string = Samba PV Server
   log level = ${LOG_LEVEL}
   log file = /data/log.%m
   max log size = 1000
   #state directory = /data
   #cache directory = /data
   #lock directory = /data
   pid directory = /run/samba

   # SMB only on 445, no NetBIOS
   disable netbios = yes
   smb ports = 445
   dns proxy = no
   load printers = no
   printing = bsd
   disable spoolss = yes

   # Modern security
   server min protocol = SMB3_11
   map to guest = Never
   server signing = mandatory
   server smb encrypt = ${ENCRYPTION}
   client ipc signing = required
   # optional: disable ntlmv1
   ntlm auth = ntlmv2-only

   # IP restriction (kind network + loopback)
   hosts allow = ${HOSTS_ALLOW}
   hosts deny = 0.0.0.0/0

   # Performance/compatibility
   ea support = yes
   kernel oplocks = no
   strict locking = no
   # time server = no

[${SHARE_NAME}]
   path = ${SHARE_PATH}
   browseable = no
   read only = no
   guest ok = no
   valid users = ${SAMBA_USER}
   write list = ${SAMBA_USER}
   force user = ${SAMBA_USER}
   force group = ${SAMBA_USER}
   create mask = 0660
   directory mask = 0770
   vfs objects = recycle
   recycle:repository = /data/.recycle
   recycle:keeptree = yes
   recycle:versions = yes
