{{- if .Values.config.enabled }}
{{- $root := . }}

{{- range $name, $cfg := .Values.config.objects }}
{{- $t := lower (default "configmap" $cfg.type) }}
{{- if and (ne $t "configmap") (ne $t "secret") }}
{{- fail (printf "config.objects[%s]: type deve essere 'configmap' o 'secret' (trovato: %v)" $name $cfg.type) }}
{{- end }}

---
apiVersion: v1
kind: {{- if eq $t "secret" }} Secret {{- else }} ConfigMap {{- end }}
metadata:
  name: {{ $name }}
  namespace: {{ $cfg.namespace | default "default" }}
  {{- with $cfg.labels }}
  labels:
{{ toYaml . | indent 4 }}
  {{- end }}
  {{- with $cfg.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
  {{- end }}
{{- if eq $t "secret" }}
type: {{ $cfg.secretType | default "Opaque" }}
stringData:
  {{- if $cfg.data }}
  {{- range $k, $v := $cfg.data }}
  {{ $k }}: {{ printf "%v" $v | quote }}
  {{- end }}
  {{- end }}
  {{- if $cfg.dataFromFile }}
  {{- $path := $cfg.dataFromFile }}
  {{- $key := ($path | base) }}
  {{ $key }}: |
{{ tpl ($root.Files.Get $path) $root | indent 4 }}
  {{- end }}
{{- else }}
data:
  {{- if $cfg.data }}
  {{- range $k, $v := $cfg.data }}
  {{ $k }}: {{ printf "%v" $v | quote }}
  {{- end }}
  {{- end }}
  {{- if $cfg.dataFromFile }}
  {{- $path := $cfg.dataFromFile }}
  {{- $key := ($path | base) }}
  {{ $key }}: |
{{ tpl ($root.Files.Get $path) $root | indent 4 }}
  {{- end }}
{{- end }}

{{- end }}
{{- end }}
