defaultValues:
  image:
    repository: registry:5000
    version: "2.0.2"
    pullPolicy: IfNotPresent

vulnerabilities:
  dnsGrant: true
  deployGrant: true
  anonymousGrant: true
  currencyGrant: true

networkPolicies:
  enabled: false
  allowKubeAPIServer: true
  defaultDeny: true
  allowSameNamespace: true
  podSelector: {}
  internet:
    mode: world
    egressCidrs: []
    ingressCidrs: []
    exceptCidrs:
      - "10.96.0.0/12"
      - "10.244.0.0/16"
  rules:
    dmz:
      name: "dmz"
      ingress: "app, mem, tst, kube-system"
      egress:  "app, mem, tst, kube-system"
      allowInternetEgress: true
      allowInternetIngress: true
    pay:
      name: "pay"
      ingress: "app, dat, mem, kube-system"
      egress:  "app, dat, mem, kube-system"
      allowInternetEgress: false
      allowInternetIngress: false
    app:
      name: "app"
      ingress: "dat, dmz, mem, pay, kube-system"
      egress:  "dat, dmz, mem, pay, kube-system"
      allowInternetEgress: false
      allowInternetIngress: false
    dat:
      name: "dat"
      ingress: "app, mem, pay, kube-system"
      egress:  "app, mem, pay, kube-system"
      allowInternetEgress: false
      allowInternetIngress: false
    mem:
      name: "mem"
      ingress: "app, dat, dmz, pay, tst, kube-system"
      egress:  "app, dat, dmz, pay, tst, kube-system"
      allowInternetEgress: true
      allowInternetIngress: false
    tst:
      name: "tst"
      ingress: "dmz, mem, kube-system"
      egress:  "dmz, mem, kube-system"
      allowInternetEgress: true
      allowInternetIngress: false

volumes:
  enabled: false

postgres:
  enabled: true
  namespace: "dat"
  common:
    imagePullSecrets:
      - name: regcred
  postgres:
    image: postgres
    db: currency
    secretName: dbcurrency
    separateFromGroup: "dbpair"
  postgres-auth:
    image: postgres-auth
    db: users
    secretName: dbauth
    cohostGroup: "dbpair"
  postgres-payment:
    image: postgres-payment
    db: payments
    secretName: dbpayment
    cohostGroup: "dbpair"

config:
  enabled: true
  objects:
    flagd-credentials-ui:
      type: configmap
      namespace: mem
      data:
        FLAGD_UI_USER: "admin"
        FLAGD_UI_PASS: "admin"
    proto:
      type: configmap
      namespace: app
      dataFromFile: files/demo.proto
    product-catalog-products:
      type: configmap
      namespace: app
      dataFromFile: files/products.json
    flagd-config:
      type: configmap
      namespace: mem
      dataFromFile: files/demo.flagd.json
    dbcurrency-creds:
      type: secret
      namespace: app
      data:
        username: "postgres"
        password: "yourpassword"
    dbcurrency:
      type: secret
      namespace: dat
      data:
        username: "postgres"
        password: "yourpassword"
    dbpayment:
      type: secret
      namespace: dat
      data:
        username: "payments_rw"
        password: "payments_rw_pwd"
    dbauth:
      type: secret
      namespace: dat
      data:
        username: "testuser"
        password: "testpassword"
    smb-creds:
      type: secret
      namespace: mem
      data:
        username: "k8s"
        password: "password"

RBAC:
  enabled: false

namespaces:
  enabled: false
  list: "app, tst, dmz, dat, pay, mem"

registryAuth:
  enabled: false
  username: "testuser"
  password: "testpassword"
  email: "noreply@example.com"
  secretName: "regcred"

pool:
  enabled: false
  ips: "172.18.0.200-172.18.0.250"
