fastapi==0.112.2
uvicorn==0.30.6
pydantic==2.9.2
PyJWT==2.9.0
SQLAlchemy==2.0.35
psycopg[binary]==3.2.1
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-instrumentation-logging==0.51b0
opentelemetry-instrumentation-sqlalchemy==0.51b0
